<h1>/Question</h1>

<p>
  <b>Lesson</b><br>
  <%= @question.lesson_id %>
</p>

<p>
  <b>Content</b><br>
  <%= @question.content %>
</p>

<div class="form-actions">
  <%= link_to 'Back', questions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_question_path(@question), :class => 'btn' %>
  <%= link_to 'Delete', question_path(@question), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
