<%= form_for @lesson, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Lesson</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        www.quickstream.in/<%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :embed_code, :class => 'control-label' %>
      <div class="controls">
        <select name="lesson[embed_code]">
					<% @results.each do |result| %>
				  	<option value="<%= result["id"] %>" selected="selected"><%= result["title"] %></option>
					<% end %>
				</select>
      </div>
    </div>



    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', lessons_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
