<% if @video_id %>
  <div id="question_data" style="display: none;"><%= @events.to_json %></div>
<% else %>
  <div id="lesson_id" style="display: none;"><%= @lesson.id %></div>
<% end %>

<div class="span12" style="text-align: center">
  <p style="font-style: italic; font-size: 200%; margin-bottom: 30px">
    <%= @lesson.name %> |
    <span style="text-transform: uppercase; color: #ccc">
      <span id="num_visits">0</span>
       people
    </span>
  </p>
</div>
<br/>

<div id="question-list" class="span4">
    <div id="new_question_div">
      <% unless @video_id %>
        <%= text_area_tag :content, value = nil, id: "question_input", placeholder: "Ask a question", style: "width: 255px;" %>
      <% else %>
        <%= image_tag("play_icon.png", id: 'play_icon', style: 'margin-bottom: 10px;') %>
      <% end %>
    </div>
    <% unless @video_id %>
      <% @lesson.questions.order("created_at DESC").each do |question| %>
        <div data-id="<%= question.id %>" data-votes="<%= question.votes.count %>" class="question_div btn btn-primary"><%= question.content %></div>
      <% end %>
    <% end %>
</div>

<div class="span8">
  <div class="row">
    <% if @video_id %>
      <iframe src="http://www.ustream.tv/embed/recorded/<%= @video_id %>" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
    <% else %>
      <iframe src="http://www.ustream.tv/embed/<%= @lesson.embed_code %>" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br />
    <% end %>
  </div>

  <div class="row">
    <pre id="teacher_note" style="width: 578px; margin-top: 30px; padding: 15px;">
      <%= simple_format(@lesson.notes) %>
    </pre>
  </div>
</div>

