<div id="question-list" class="span4">
		<div id="new_question_div"><%= text_area_tag :content, value = nil, id: "question_input", class: "span3", placeholder: "Ask a question" %></div>
		<% @lesson.questions.each do |question| %>
			<div data-id="<%= question.id %>" data-votes="<%= question.votes.count %>" class="question_div btn btn-primary btn-large span3 <%= question.is_answered ? "answered" : nil %>"><%= question.content %></div>
		<% end %>
</div>

<div class="span8">
	<div class="row">
		<iframe src="http://www.ustream.tv/embed/<%= @lesson.embed_code %>" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br />
	</div>
 
	<div class="row">
		<%= @lesson.notes %>
	</div>
</div>