<% if @video_id %>
	 We found an old video -- we need to load question data here
<% else %>
	<div id="lesson_id" style="display: none;"><%= @lesson.id %></div>
<% end %>

Channel Status: <%= @channel_status %><br/><br/>

Video Times: <%= @video_times %><br/><br/>

Question Times: <%= @lesson.questions.map(&:created_at) %><br/><br/>

Video ID: <%= @video_id %><br/><br/>




<div class="span12" style="text-align: center">
  <p style="font-style: italic; font-size: 200%; margin-bottom: 30px"><%= @lesson.name %></p>
</div><br/><br/>

<div id="question-list" class="span4">
    <div id="new_question_div"><%= text_area_tag :content, value = nil, id: "question_input", placeholder: "Ask a question", style: "width: 255px;" %></div>
    <% @lesson.questions.order("created_at DESC").each do |question| %>
      <div data-id="<%= question.id %>" data-votes="<%= question.votes.count %>" class="question_div btn btn-primary"><%= question.content %></div>
    <% end %>
</div>

<div class="span8">
  <div class="row">
		<% if @video_id %>
			<iframe src="http://www.ustream.tv/embed/recorded/<%= @video_id %>" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
		<% else %>
    	<iframe src="http://www.ustream.tv/embed/<%= @lesson.embed_code %>" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br />
		<% end %>
  </div>

  <div class="row">
    <pre id="teacher_note" style="width: 578px; margin-top: 30px; padding: 15px;"><%= simple_format(@lesson.notes) %></pre>
  </div>
</div>

